<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaahk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ChatViewActivity"
            android:label="@string/title_activity_chat_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.SelectProductActivity"
            android:label="@string/title_activity_select_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.UserReviewActivity"
            android:label="@string/title_activity_user_review"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProductReviewActivity"
            android:label="@string/title_activity_product_review"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddPicturesActivity"
            android:label="@string/title_activity_add_pictures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SelectCoverActivity"
            android:label="@string/title_activity_select_cover"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CommentActivity"
            android:label="@string/title_activity_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LikeActivity"
            android:label="@string/title_activity_like"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ReviewsActivity"
            android:label="@string/title_activity_reviews"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.FeatureActivity"
            android:label="@string/title_activity_feature"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.WishlistActivity"
            android:label="@string/title_activity_wishlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.WalletActivity"
            android:label="@string/title_activity_wallet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ExploreActivity"
            android:label="@string/title_activity_explore"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.OrderTrackingActivity"
            android:label="@string/title_activity_order_tracking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CartCardDetailsActivity"
            android:label="@string/title_activity_cart_card_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CartPaymentActivity"
            android:label="@string/title_activity_cart_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PaymentMethodActivity"
            android:label="@string/title_activity_payment_method"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CardDetailsActivity"
            android:label="@string/title_activity_payment_method"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.RecieptActivity"
            android:label="@string/title_activity_reciept"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity
            android:name=".Activities.AboutAppActivity"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ConfirmEmailActivity"
            android:label="@string/title_activity_confirm_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>